---
import Layout from "@src/components/Layout.astro";
import { summariseText } from "@src/lib/gpt";

let summary = null;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const text = formData.get("text");
  summary = await summariseText(text);
}
---

<Layout>
  <p id="summary">
    <strong>Summary:</strong>
    {summary}
  </p>
</Layout>
