---
import Layout from "@src/components/Layout.astro";
import SearchResult from "@src/components/SearchResult.astro";
import { Debug } from "astro:components";
import { fetchFromSerper } from "@src/lib/serper";
const query = Astro.url.searchParams.get("q");
const searchData = await fetchFromSerper(query);
const searchResults = searchData.organic;

type SearchResult = {
  title: string;
  snippet: string;
  link: string;
  date: string;
  position: number;
};
---

<Layout>
  <div id="results">
    {searchResults.map((result: SearchResult) => <SearchResult {result} />)}

    <details>
      <summary>Debug of search data</summary>
      <Debug {searchData} />
    </details>
  </div>
</Layout>

<style>
  .search-results {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
